<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- 
    This file contains deployment-specific RIS settings.
    It overrides the default settings specified in web.config.
  -->
  <!-- RIS Settings-->
  <add key="AllowMultipleRequestDocument" value="true" />
  <add key="AllowToHoldScheduledExams" value="false" />
  <add key="AllowUsersToSetPassword" value="true" />
  <add key="AlwaysShowGP" value="true" />
  <add key="AuthorizationPage_RefreshInterval" value="" />
  <add key="AutomaticallyScan" value="true" />
  <add key="AutomaticScheduling.ShowFirstSlotPerLocation" value="false" />
  <add key="AutoPrintAuthorizedReport" value="false" />
  <add key="AutoPrintConfirmationLetter" value="false" />
  <add key="AutoPrintPatientLabel" value="false" />
  <add key="AutoSchedulingSearchPeriod" value="84" />
  <add key="BundleScripts" value="false" />
  <add key="Command_CorrectAdministrationErrors" value="false" />
  <add key="CreateDummyPatientsByDefault" value="true" />
  <add key="CrystalReports_DNALetters" value="false" />
  <add key="CrystalReports_PatientLabel" value="false" />
  <add key="DailyRoomSchedulesInCalendarPage" value="false" />
  <add key="DefaultCountry" value="Nederland" />
  <add key="DefaultDictationType" value="INT" />
  <add key="DefaultReferralType" value="Poliklinisch" />
  <add key="Demo" value="false" />
  <add key="Dictation_AutoShowRequestForm" value="true" />
  <add key="Dictation.DictationConfiguration.FinishDictationActions.Default" value="AuthorizeImmediately" />
  <add key="Dictation.OrderPanel.ShowComplicationForm" value="true" />
  <add key="Dictation.OrderPanel.ShowIndicatorForm" value="true" />
  <add key="Dictation.OrderPanel.ShowProtocol" value="true" />
  <add key="Dictation.TaskOverview.ShowIntermediatePatients" value="true" />
  <add key="DictationPage.PatientHistory.ShowLocationColumn" value="true" />
  <add key="DictationPage_WorklistByDefault" value="General" />
  <add key="DictationWorklist.DictationOptions.ShowDigital" value="true" />
  <add key="DictationWorklist.DictationGrid.ShowRequestTypeColumn" value="true" />
  <add key="DictationWorklist.DictationGrid.ShowPatientDelayedColumn" value="true" />
  <add key="DictationWorklist.DictationGrid.ShowRequestingLocationColumn" value="true" />
  <add key="DictationWorklist.DictationGrid.ShowPatientCategoryColumn" value="true" />
  <add key="DictationWorklist.ShowLocationFilter" value="true" />
  <add key="DictationWorklist.WorklistType.ShowAllExternalUsers" value="true" />
  <add key="DisplayNameFormat" value="{{[[PartnerPrefix]] [[PartnerName]]- }}{{[[Prefix]] }}[[LastName]]{{, [[FirstName]] [[MiddleNames]]}}" />
  <add key="DomainGroup" value="" />
  <add key="EditableAppointmentLetter" value="true" />
  <add key="EditOrder_FocusNextEmptyExamination" value="false" />
  <add key="EditOrder_ShowFirstPossibilities" value="false" />
  <add key="EnableDataSetHArray" value="true" />
  <add key="EnableGeneralWorklist" value="true" />
  <add key="EnableLateralityBoth" value="true" />
  <add key="EnableVersionOverlay" value="true" />
  <add key="ExternalOrders_OpenEditOrderPage" value="true" />
  <add key="GeneralPractitionerCanBeChanged" value="false" />
  <add key="GroupSchedulerBasedOnTypeResources" value="false" />
  <add key="HideNextOfKinTab" value="true" />
  <add key="HtmlCssClass" value="x-training" />
  <add key="ICE_NHSORGANISATIONS" value="RP500" />
  <add key="ImageViewer_RelevantImageOpeningMode" value="AddImages" />
  <add key="Imaging_AutoShowRequestForm" value="false" />
  <add key="ImagingPage_RefreshInterval" value="1" />
  <add key="InDepartmentWaitingTime" value="4" />
  <add key="IsSpecialisationRequired" value="false" />
  <add key="Key" value="Dr.M4r!0" />
  <add key="Language" value="" />
  <add key="LateralityBothAsDefault" value="true" />
  <add key="Login_WelcomeText" value="this is a test" />
  <add key="loginUrl" value="~/Login.aspx" />
  <add key="LogoffUrl" value="" />
  <add key="LogProfiler" value="false" />
  <add key="MaintenanceAddress" value="~/Maintenance/" />
  <add key="MedisecPCIEncryption" value="true" />
  <add key="MedisecPCIUrl" value="http://1.2.3.4/MEDISEC" />
  <add key="OrderApproval_AutoShowRequestForm" value="false" />
  <add key="OrderBooking_ShowOrdersNeedApproval" value="false" />
  <add key="OrderCommPassword" value="" />
  <add key="OrderCommUrl" value="http://1.2.3.4/ORDERCOMM" />
  <add key="OrderType_PlannedUnplanned" value="false" />
  <add key="PatientBanner.ShowPatientLocation" value="true" />
  <add key="PatientLocationsAreRequestingLocations" value="false" />
  <add key="PatientSearchContains" value="false" />
  <add key="PatientOverview.PatientHistory.ContextMenu.ShowPrintPatientLabel" value="true" />
  <add key="PatientOverview.PatientHistory.ContextMenu.ShowComplicationForm" value="true" />
  <add key="PatientOverview.PatientHistory.ContextMenu.ShowChangeAssignments" value="true" />
  <add key="PatientOverview.PatientHistory.ContextMenu.ShowViewQAForms" value="true" />
  <add key="PatientOverview.PatientHistoryGrid.ShowExternalOrderNumber" value="true" />
  <add key="PatientOverview.PatientHistoryGrid.ShowImported" value="true" />
  <add key="PromoteStatus_ShowSeparate" value="false" />
  <add key="ReceptionWaitingTime" value="4" />
  <add key="RefreshInterval" value="0" />
  <add key="ReschedulingReasonRequired" value="false" />
  <add key="ReturnUrl" value="" />
  <add key="RISDeterminesRelevantStudies" value="true" />
  <add key="RoganSysLogHost" value="0.0.0.0" />
  <add key="RoganSysLogPort" value="514" />
  <add key="RunningRIS_WithoutHIS" value="true" />
  <add key="SelectAuthorizer" value="DictationBased" />
  <add key="ShowConflictingAppointmentsForNextNDays" value="30" />
  <add key="ShowIntendedRadiologist" value="true" />
  <add key="ShowXdsPendingDocumentsButton" value="false" />
  <add key="StandardReportText" value="A standard report was created." />
  <add key="TranscriptionPage_RefreshInterval" value="" />
  <add key="UseExternalAccessionNumbers_DictationAndImageViewer" value="false" />
  <add key="UserAssignment_Radiologist" value="1" />
  <add key="UserAssignment_Technician" value="1" />
  <add key="UseRequestingLocation" value="true" />
  <add key="UseUnknownLaterality" value="true" />
  <add key="ZillionSpeech_ServiceUrl" value="http://10.30.30.205/ZillionSpeech2000/API/ZillionSpeech.svc" />
  <add key="ZillionSpeech_SilverlightServiceUrl" value="" />
  <add key="ZillionWebCustomize" value="si" />
  <!-- RIS.HL7 Settings-->
  <add key="AccessionNumberLength" value="9" />
  <add key="DFT_InsurancePlanID" value="" />
  <add key="Doncaster_VisitNumberInAWrongPlace" value="" />
  <add key="EnglishNamesInHL7Messages" value="false" />
  <add key="ExaminationStatusToSendORMToG2Speech" value="5" />
  <add key="Fill_FT1_18_Field_In_DFT_Message" value="true" />
  <add key="HL7_AccessionNumberExpectedIn_OBR_2" value="false" />
  <add key="HL7_AccessionNumberExpectedIn_OBR_3" value="false" />
  <add key="HL7_AllowChangesAfterScheduled" value="false" />
  <add key="HL7_DFT_DepartmentCode_Nuclear" value="" />
  <add key="HL7_DFT_DepartmentCode_Radiology" value="" />
  <add key="HL7_DFT_FileLocation" value="C:\Temp" />
  <add key="HL7_DFT_UsageOf_ZDBSegment" value="false" />
  <add key="HL7_DontAppendLateralityToExamName" value="false" />
  <add key="HL7_MEDRAD_DepartmentName" value="Afd. Radiodiagnostiek" />
  <add key="HL7_MEDRAD_HospitalCode" value="500016298" />
  <add key="HL7_MEDRAD_HospitalName" value="" />
  <add key="HL7_ORM_OrderLevelQandACode" value="VRGANTORD" />
  <add key="HL7_PatientName_LazyFormat" value="true" />
  <add key="HL7_Reports_AddExtraDutchText" value="false" />
  <add key="HL7_RIS_AssigningAuthority" value="" />
  <add key="HL7_RIS_USER_IDTypeCode" value="" />
  <add key="HL7_RISIsPlacerForAllOrder" value="false" />
  <add key="HL7_RISNamespaceID" value="ZILLIONRIS" />
  <add key="HL7_RISUniversalID" value="" />
  <add key="HL7_SupportMultilineClinicalInformation" value="false" />
  <add key="HL7PatientNumber_AssigningAuthority" value="CS" />
  <add key="HL7PatientNumber_IDStartsWith" value="" />
  <add key="HL7PatientNumber_IDTypeCode" value="PI" />
  <add key="HL7_StoreMessageMetadata" value="false" />
  <add key="HL7_UseTransactionToParseSingleHL7Message" value="true" />
  <add key="PermissiveMode" value="true" />
  <!-- RIS.XDS Settings -->
  <add key="Certificate" value="" />
  <add key="EnableAtnaLogging" value="false" />
  <add key="EnableSysLog" value="false" />
  <add key="Password" value="password" />
  <add key="RegistryUrl" value="" />
  <add key="RepositoryUrl" value="" />
  <!-- RIS.ViewProX Settings-->
  <add key="ViewProX_LockTrue" value="false" />
  <add key="ViewProX_TeleradiologyUrl" value="" />
  <!-- IIS or framework settings -->
  <add key="webpages:Enabled" value="false" />
</appSettings>