<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ZillionRIS" providerName="System.Data.SqlClient" connectionString="Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionRIS_Doncaster;User Id=RadarRIS;Password=aRIStoc4t;MultipleActiveResultSets=True" />
  <add name="ErrorReporting" providerName="System.Data.SqlClient" connectionString="Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionRIS_ErrorReporting_Doncaster;User Id=RadarRIS;Password=aRIStoc4t" />
  <add name="Profiling" providerName="System.Data.SqlClient" connectionString="Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionRIS_Profile_Doncaster;User Id=RadarRIS;Password=aRIStoc4t;MultipleActiveResultSets=True" />
  <add name="Workflow" providerName="System.Data.SqlClient" connectionString="Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionRIS_Workflow_Doncaster;User Id=RadarRIS;Password=aRIStoc4t;MultipleActiveResultSets=True" />
  <!-- The connection string "ZillionRIS" used for Crystal Reports, do not change order of parameters -->
  <add name="ZillionRIS_Entities" providerName="System.Data.EntityClient" connectionString="metadata=res://Rogan.ZillionRis.EntityData;provider=System.Data.SqlClient;provider Connection String=&quot;Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionRIS_Doncaster;User Id=RadarRIS;Password=aRIStoc4t;MultipleActiveResultSets=True&quot;" />
  <add name="Dictation_Entities" providerName="System.Data.EntityClient" connectionString="metadata=res://Rogan.ZillionRis.Dictation;provider=System.Data.SqlClient;provider Connection String=&quot;Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionRIS_Doncaster;User Id=RadarRIS;Password=aRIStoc4t;MultipleActiveResultSets=True&quot;" />
  <add name="ZillionRIS_Profiling" providerName="System.Data.EntityClient" connectionString="metadata=res://Rogan.ZillionRis.Profiling;provider=System.Data.SqlClient;provider Connection String=&quot;Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionRIS_Profile_Doncaster;User Id=RadarRIS;Password=aRIStoc4t;MultipleActiveResultSets=True&quot;" />
  <add name="ZillionHL7Entities" providerName="System.Data.EntityClient" connectionString="metadata=res://DelftDI.HL7.EDM;provider=System.Data.SqlClient;provider Connection String=&quot;Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionHL7_Doncaster_Old;User Id=RadarRIS;Password=aRIStoc4t;MultipleActiveResultSets=True&quot;" />
  <add name="Workflow_Entities" providerName="System.Data.EntityClient" connectionString="metadata=res://Rogan.ZillionRis.Web;provider=System.Data.SqlClient;provider Connection String=&quot;Data Source=radarsql02.radar.local;Initial Catalog=RIS_ZillionRIS_Workflow_Doncaster;User Id=RadarRIS;Password=aRIStoc4t;MultipleActiveResultSets=True&quot;" />
</connectionStrings>