<?xml version="1.0" encoding="utf-8"?>
<Hl7PackageCollection>
  <HL7Package name="Rogan.ZillionRis.HL7Communication.Doncaster" version="Doncaster" />
  
  <!-- Needed to support the custom ORM message -->
  <HL7Package name="Rogan.ZillionRis.HL7Communication.CustomStructures" version="2.4" />
</Hl7PackageCollection>