<?xml version="1.0"?>
<client>
  <!-- 
    Please only change the addresses here. If you change any other setting you may break the RIS.
  -->
  <endpoint name="ViewProLaunchService" binding="wsHttpBinding" contract="LaunchServiceWeb.LaunchServiceServer"
            address="http://10.30.30.230/ViewProLaunchService/server.svc" />
  <endpoint name="TeleradiologySoap" binding="customBinding" bindingConfiguration="TeleradiologySoap12"
            contract="Rogan.ZillionRis.ViewPro.ITeleradiology"
            address="http://10.30.30.230/RoganViewPro-X/Teleradiology/Webservice/Teleradiology.asmx"/>
</client>