<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="Rogan.ZillionRis" />
  <assembly name="Rogan.ZillionRis.Extensibility" />
  <namespace name="Rogan.ZillionRis.Extensibility.Data" />

  <!-- ISettingsProvider -->
  <assembly name="Rogan.ZillionRis"/>
  <namespace name="Rogan.ZillionRis.Configuration"/>

  <!-- IStoredDocumentsListener -->
  <!--
  <assembly name="Rogan.ZillionRis.StoredDocuments"/>
  <namespace name="Rogan.ZillionRis.StoredDocuments.Extensibility"/>
  -->

  <!-- IExaminationChangedListener, IMergePatientListener, IPatientUpdatedListener, IApplicationService -->
  <!--
  <namespace name="Rogan.ZillionRis.HL7Communication" />
  -->
  <!-- IPatientBasedModuleProvider -->
  <namespace name="Rogan.ZillionRis.Extensibility.UI" />
  <!-- IPersonCardProvider -->
  <assembly name="Rogan.ZillionRis.Workflow" />
  <namespace name="Rogan.ZillionRis.Workflow.PersonCards" />

  <!-- IApplicationService -->
  <!--
  <assembly name="Rogan.ZillionRis.Extensibility"/>
  <namespace name="Rogan.ZillionRis.Extensibility"/>
  -->

  <!-- ISpecialMessageListener, IMappingListener -->
  <!--
  <assembly name="Rogan.ZillionRis.HL7Communication"/>
  <namespace name="Rogan.ZillionRis.HL7Communication.Extensibility"/>
  -->
  
  <container>
    <register name="SettingsProvider" type="ISettingsProvider" mapTo="Rogan.ZillionRis.Configuration.DatabaseSettingsProvider, Rogan.ZillionRis" >
      <property name="CurrentEnvironment" value="Dev"/>
      <property name="ApplicationName" value="RIS"/>
    </register>
    <register name="DictationWorkItemCreator" type="IExaminationChangedListener" mapTo="Rogan.ZillionRis.Dictation.Business.DictationWorkItemCreateListener, Rogan.ZillionRis.Dictation" />

    <register name="PersonCard_PatientPortalLink" type="IPersonCardProvider" mapTo="Rogan.ZillionRis.PatientPortal.PatientPortalPatientCardProvider, Rogan.ZillionRis.PatientPortal" />
    <register name="PatientBanner_PatientPortalButton" type="IPatientBasedModuleProvider" mapTo="Rogan.ZillionRis.PatientPortal.PatientPortalPatientBasedModule, Rogan.ZillionRis.PatientPortal" />

    <!--<register name="PersonCard_MedisecLink" type="IPersonCardProvider" mapTo="Rogan.ZillionRis.Medisec.MedisecPatientCardProvider, Rogan.ZillionRis.Medisec" />
    <register name="PatientBanner_MedisecButton" type="IPatientBasedModuleProvider" mapTo="Rogan.ZillionRis.Medisec.MedisecPatientBasedModule, Rogan.ZillionRis.Medisec" />-->

    <!--<register name="PersonCard_OrderCommLink" type="IPersonCardProvider" mapTo="Rogan.ZillionRis.OrderComm.OrderCommPatientCardProvider, Rogan.ZillionRis.OrderComm" />
    <register name="PatientBanner_OrderCommButton" type="IPatientBasedModuleProvider" mapTo="Rogan.ZillionRis.OrderComm.OrderCommPatientBasedModule, Rogan.ZillionRis.OrderComm" />-->

    <!--<register name="DictationWorkItemCreator" type="IMergePatientListener" mapTo="Rogan.ZillionRis.Dictation.Business.DictationWorkItemCreateListener, Rogan.ZillionRis.Dictation, Version=1.5.0.2, Culture=neutral" />-->
    <!--<register name="PatientNumberAssignee" type="IPatientNumberAssignee" mapTo="Rogan.ZillionRis.Business.BasicNumberAssignee">
			<property name="PatientNumberBase" value="100000"/>
			<property name="PatientNumberMultiplier" value="11"/>
		</register>
		<register name="OrderNumberAssignee" type="IOrderNumberAssignee" mapTo="Rogan.ZillionRis.Business.BasicNumberAssignee">
			<property name="OrderNumberBase" value="100000"/>
			<property name="OrderNumberMultiplier" value="11"/>
		</register>
		<register name="StudyNumberAssignee" type="IAccessionNumberAssignee" mapTo="Rogan.ZillionRis.Business.BasicNumberAssignee">
			<property name="AccessionNumberBase" value="1000000"/>
			<property name="AccessionNumberMultiplier" value="11"/>
			<property name="AccessionNumberByOrder" value="true"/>
			<property name="AccessionNumberByOrderFormat" value="{0}{1:00}"/>
		</register>-->
    <!--<register name="ImageViewer" type="Rogan.ZillionRis.Extensibility.IImageViewer, Rogan.ZillionRis.Extensibility" mapTo="Rogan.ZillionRis.ViewPro.ViewProImageViewer, Rogan.ZillionRis.ViewPro">
        <lifetime type="resolve"/>
        -->
    <!--<property name="UserName" value="ZillionRIS"></property>-->
    <!--
        <property name="ViewProUrl" value="http://10.30.30.230/"></property>
        <property name="XdsArchive" value="XDS-IRegistry"/>
      </register>-->
    
    <!-- Listener for receiving HL7 messages -->
    <!--
    <register name="ReceiveHL7Messages" type="IApplicationService" mapTo="Rogan.ZillionRis.HL7Communication.ReceiveMessagesFromZillionHL7Service, Rogan.ZillionRis.HL7Communication" />
    -->


    <!-- Default listener for sending HL7 messages -->
    <!--
    <register name="DefaultListenerToSendORM" type="IExaminationChangedListener" mapTo="Rogan.ZillionRis.HL7Communication.ExaminationChangeListener, Rogan.ZillionRis.HL7Communication" />
    <register name="DefaultListenerToSendReport" type="IReportCreatedListener" mapTo="Rogan.ZillionRis.HL7Communication.SendReport, Rogan.ZillionRis.HL7Communication" >
      <property name="OBXContansReportHistory" value="true" />
      <property name="OBRAlwaysAboutAuthorizedReport" value="false" />
      <property name="ReportCreatorsAreResponsible" value="false" />
      <property name="OBXsForEveryLineOfTheReport" value="true" />
    </register>
    <register name="DefaultListenerToSendMEDRAD" type="IReportCreatedListener" mapTo="Rogan.ZillionRis.HL7Communication.SendMEDRAD, Rogan.ZillionRis.HL7Communication" />
    -->

    <!-- Listeners for Billing (Netherlands) -->
    <!--
    <extension type="Rogan.ZillionRis.HL7Communication.BillingNL.Unity.BillingNLModule, Rogan.ZillionRis.HL7Communication.BillingNL.Unity" />
    -->

    <!-- Listeners for XDS -->
    <!--
    <register name="SendXDSReport" type="IReportCreatedListener" mapTo="Rogan.ZillionRis.XdsCommunication.Doncaster.Listeners.ExaminationAuthorizedListener,Rogan.ZillionRis.XdsCommunication.Doncaster" />
    <register name="ResendXDSRequestForm" type="IStoredDocumentListener" mapTo="Rogan.ZillionRis.XdsCommunication.Doncaster.Listeners.RequestFormCreatedListener,Rogan.ZillionRis.XdsCommunication.Doncaster" />
    <register name="SendXDSCancellationReason" type="IExaminationChangedListener" mapTo="Rogan.ZillionRis.XdsCommunication.Doncaster.Listeners.ExaminationCancelledListener,Rogan.ZillionRis.XdsCommunication.Doncaster" />
    <register name="ManuallyPendingDocumentsResend" type="IXdsDocumentResendListener" mapTo="Rogan.ZillionRis.XdsCommunication.Doncaster.Listeners.FailedDocumentsListener,Rogan.ZillionRis.XdsCommunication.Doncaster" />
    <register name="AutomaticPendingDocumentsResend" type="IApplicationService" mapTo="Rogan.ZillionRis.XdsCommunication.Doncaster.Listeners.PendingDocumentsListener, Rogan.ZillionRis.XdsCommunication.Doncaster" />
    -->

    <!-- Listeners for Navision -->
    <!--
    <register name="NavisionExaminationAuthorizedListener" type="IReportCreatedListener" mapTo="Rogan.ZillionRis.Navision.NavisionExaminationAuthorizedListener, Rogan.ZillionRis.Navision" />
    <register name="NavisionExaminationChangedListener" type="IExaminationChangedListener" mapTo="Rogan.ZillionRis.Navision.NavisionExaminationChangedListener, Rogan.ZillionRis.Navision" />
    -->

    <!-- Listener for MFN -->
    <!--
    <register name="DoncasterMappingListener" type="IMappingListener" mapTo="Rogan.ZillionRis.HL7Communication.Doncaster.DoncasterMapping, Rogan.ZillionRis.HL7Communication.Doncaster" />
    -->
  
    <!-- Listener to resend messages -->
    <!--<register name="ResendMessages" type="IMessageResendListener" mapTo="Rogan.ZillionRis.HL7Communication.Listeners.ResendMessage, Rogan.ZillionRis.HL7Communication" />-->
    
    <!--<register name="PersonCard_MedisecLink" type="IPersonCardProvider" mapTo="Rogan.ZillionRis.Medisec.MedisecPatientCardProvider, Rogan.ZillionRis.Medisec" />
		<register name="PersonCard_OrderCommLink" type="IPersonCardProvider" mapTo="Rogan.ZillionRis.OrderComm.OrderCommPatientCardProvider, Rogan.ZillionRis.OrderComm" />
		<register name="PatientBanner_MedisecButton" type="IPatientBasedModuleProvider" mapTo="Rogan.ZillionRis.Medisec.MedisecPatientBasedModule, Rogan.ZillionRis.Medisec" />
		<register name="PatientBanner_OrderCommButton" type="IPatientBasedModuleProvider" mapTo="Rogan.ZillionRis.OrderComm.OrderCommPatientBasedModule, Rogan.ZillionRis.OrderComm" />-->
  </container>
</unity>