<?xml version="1.0" encoding="utf-8"?>
<webmodule>
  <references>
    <add type="Rogan.ZillionRis.Calendars.CalendarsModuleBuilder, Rogan.ZillionRis.Calendars" />
    <!--<add type="Rogan.ZillionRis.Dashboard.DashboardModule, Rogan.ZillionRis.Dashboard" />-->
    <!--<add type="Rogan.ZillionRis.Obstetrics.ObstetricsModule, Rogan.ZillionRis.Obstetrics" />-->
    <add type="Rogan.ZillionRis.ErrorReporting.ErrorReportingModule, Rogan.ZillionRis.ErrorReporting" />
    <!--<add type="Rogan.ZillionRis.FujiSynapse.FujiSynapseModule, Rogan.ZillionRis.FujiSynapse">
      <add key="applicationName" value="applicationName"/>
      <add key="dataSource" value="dataSource"/>
      <add key="clearPath" value="clearPath"/>
      <add key="allStudiesPath" value="allStudiesPath"/>
    </add>-->
    <!--<add type="Rogan.ZillionRis.HL7Communication.HL7HealthCheckService, Rogan.ZillionRis.HL7Communication" />-->
    <add type="Rogan.ZillionRis.KioskIntegration.KioskIntegrationModule, Rogan.ZillionRis.KioskIntegration" />
	<!--<add type="Rogan.ZillionRis.VitreaView.VitreaViewModule, Rogan.ZillionRis.VitreaView">
	  <add key="url" value=""/>
	  <add key="customAuth" value="true" />
	  <add key="key" value="" />
	  <add key="urlEncoded" value="true" />
	</add>-->
    <!--<add type="Rogan.ZillionRis.Medisec.MedisecModuleBuilder, Rogan.ZillionRis.Medisec" />-->
    <!--<add type="Rogan.ZillionRis.NILViewer.NILViewerModule, Rogan.ZillionRis.NILViewer">
      <add key="scheme" value="http" />
      <add key="ipAddress" value="radarrisdev02.radar.local" />
      <add key="port" value="8080" />
      <add key="encodingKey" value="ycngfe" />
      <add key="userGroup" value="TestGroup" />
      <add key="onlyOpenFirstExamInList" value="true" />
      <add key="tenantSiteUuid" value="6e6b6b77-7055-46b6-85a4-d21072d50ced" />
    </add>-->
	<!--<add type="Rogan.ZillionRis.VitreaView.VitreaViewModule, Rogan.ZillionRis.VitreaView">
		<add key="url" value=""/>
		<add key="customAuth" value="true" />
		<add key="key" value="" />
		<add key="deriveKey" value="true" />
		<add key="urlEncoded" value="true" />
	</add>-->
    <!--<add type="Rogan.ZillionRis.EasyVizViewer.EasyVizViewerModule, Rogan.ZillionRis.EasyVizViewer">
      <add key="serverAddress" value="https://easyviz-demo.cph.karoshealth.com/vdb" />
      <add key="username" value="delftdi" />
      <add key="password" value="delftdi" />
      <add key="openParameters" value="{&quot;sources&quot;: &quot;RIALTO&quot;,&quot;cam&quot;: &quot;general2d&quot;}" />
      <add key="openStudyTimeoutSeconds" value="60" />
      <add key="onlyOpenFirstExamInList" value="true" />
      -->
    <!--<add key="language" value="nl" />--><!--
      --><!--<add key="port" value="80" />--><!--
      --><!--<add key="useWfm" value="false" />--><!--
      --><!--<add key="useExternalUserId" value="false" />--><!--
      --><!--<add key="additionalDicomCriteria" value="&amp;(0010,0021)=&amp;" />--><!--
    </add>-->
   

    <!-- <add type="Rogan.ZillionRis.Medisec.MedisecModuleBuilder, Rogan.ZillionRis.Medisec" /> -->
    <!-- <add type="Rogan.ZillionRis.OrderComm.OrderCommModuleBuilder, Rogan.ZillionRis.OrderComm" /> -->
    <add type="Rogan.ZillionRis.PatientPortal.PatientPortalModule, Rogan.ZillionRis.PatientPortal" >
      <add key ="baseUrl" value="http://radarrisdev01.radar.local/TestLab/Daily/Doncaster/ZillionRIS/patient/search#auto;" />
    </add>


    <add type="Rogan.ZillionRis.PatientMerge.PatientMergeModule, Rogan.ZillionRis.PatientMerge" />
    <!--<add type="Rogan.ZillionRis.Portering.PorteringModule, Rogan.ZillionRis.Portering" />-->
    <!--<add type="Rogan.ZillionRis.Profiling.ProfilingModule, Rogan.ZillionRis.Profiling" />-->
    <add type="Rogan.ZillionRis.ProfilingWeb.ProfilingModule, Rogan.ZillionRis.ProfilingWeb" />
    <add type="Rogan.ZillionRis.Reporting.ReportingModule, Rogan.ZillionRis.Reporting" />
    <add type="Rogan.ZillionRis.Scheduling.SchedulingModule, Rogan.ZillionRis.Scheduling" />
    <!--<add type="Rogan.ZillionRis.Specials.ComicSansDay.SpecialsComicSansModule, Rogan.ZillionRis.Specials.ComicSansDay" />-->
    <!--<add type="Rogan.ZillionRis.Specials.Polandball.PolandballModule, Rogan.ZillionRis.Specials.Polandball" />-->
    <add type="Rogan.ZillionRis.StoredDocuments.StoredDocumentsModule, Rogan.ZillionRis.StoredDocuments" />
    <add type="Rogan.ZillionRis.Supervision.SupervisionModule, Rogan.ZillionRis.Supervision" />
    <add type="Rogan.ZillionRis.Workflow.ResourceLockModule, Rogan.ZillionRis.Workflow" />
    <!--<add type="Rogan.ZillionRis.ViewPro.ViewProModule, Rogan.ZillionRis.ViewPro" >
      <add key="viewProUrl" value="http://10.30.30.230/" />
      <add key="xdsArchive" value="XDS-IRegistry" />
    </add>-->
    <add type="Rogan.ZillionRis.ZillionSpeech.ZillionSpeechModule, Rogan.ZillionRis.ZillionSpeech" />

    <add type="Rogan.ZillionRis.HL7Overview.HL7OverviewModule, Rogan.ZillionRis.HL7Overview" />
    <add type="Rogan.ZillionRis.ApplicationSettings.ApplicationSettingsModule, Rogan.ZillionRis.ApplicationSettings" />
    <add type="Rogan.ZillionRis.DeceasedPatients.DeceasedPatientsModule, Rogan.ZillionRis.DeceasedPatients" />
    <add type="Rogan.ZillionRis.ConflictingAppointments.ConflictingAppointmentsModule, Rogan.ZillionRis.ConflictingAppointments" />
    <!--<add type="Rogan.ZillionRis.DtsGen.DtsGenModule, Rogan.ZillionRis.DtsGen" />-->
  </references>
</webmodule>
